{
    "app": {
        "port": 8000,
        "log_level": 2
    },
    "projects": [
        {
            "url": "http://url/to/project/repo",
            "ref": "refs/heads/master",
            "path": "/path/to/your/project",
            "uid": 0,
            "gid": 0,
            "deploy": "/path/to/deploy/script arg1 arg2"
        }
    ]
}

